.mainPage_container {
  margin: 50px;
  padding: 20px;
}

.teams_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.teams_text {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.teams_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.4s;
}

.teams_container:hover {
  scale: 1.1;
  color: var(--color-lg);
}

.teams_logos {
  height: 120px;
  width: 120px;
  align-items: center;
  margin: 10px;
}

.teams_names {
  font-size: 1.5rem;
  cursor: default;
}

.eng_colors {
  color: black;
  cursor: pointer;
  transition: 0.4s;
}

.eng_colors:hover {
  color: red;
}

.br_colors {
  color: black;
  cursor: pointer;
  transition: 0.4s;
}

.br_colors:hover {
  color: #fedf00;
}
